@import "tailwindcss";

@import 'locomotive-scroll/dist/locomotive-scroll.css';



html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #FFFEF2 !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


[data-scroll-container] {
  will-change: transform;
}

section {
  scroll-behavior: auto !important;
}

.inter-placeholder {
  font-family: 'Inter', sans-serif;
  /* font-size: 200px; */
  /* color: #000; */
}

.font-satisfy {
  font-family: 'Satisfy', sans-serif;
  /* font-size: 145px; */
  color: #1D322D;
}



